build/
package/
dist/
.build/
.vs/
bin/
obj/
*.user
*.suo
*.log
usage_history.json
honor_quota_cli_cache.json
opencode_go_cache.json
opencode_go_models.json
*.exe.bak-*
settings_preview*
catalog_probe*
api_probe*
